<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/game.css">
    <title>Game Screen</title>
</head>
<body>
    <h2>Current Status ( Your turn / opponent's turn)</h2>
    <div class="main-content">
        <div class="cards">
            <% for(var i = 0; i < cards.length; i++){ console.log(cards) %>                
                <div class="card-container">
                    <div id="<%= i %>" class="card">
                        <div class="cover">
                            <img class="flame" src="./images/flame.png" alt="TUDelft Flame">
                        </div>
                        <img src="images/blobs/<%= cards[i] %>" alt="Blob 1">
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div class="stats">
        <div class="stats-card">
            <p class="stats-title">Your score</p>
            <p class="stats-value">3</p>
        </div>
        <div class="stats-card">
            <p class="stats-title">Time elapsed</p>
            <p class="stats-value">45 seconds</p>
        </div>
        <div class="stats-card">
            <p class="stats-title">Opponent's score</p>
            <p class="stats-value">2</p>
        </div>
    </div>
</body>
</html>