<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splash Screen</title>
    <link rel="stylesheet" href="/stylesheets/splash.css">
</head>
<body>
    <div class="top-content">
    <div class="left-content" style="background-color: #00a6d6;">
        <img src="./images/logo.png" alt="TU Delft Logo">
        <div class="text-container">
            <h2>Stats:</h2>
            <ul>
                <li>Started games: <%= stats.GAMES_STARTED %></li>
                <li>Highscore: <%= stats.HIGHSCORE %></li>
                <li>Games aborted: <%= stats.GAMES_ABORTED %></li>
            </ul>
        </div>
    </div>
    <div class="right-content">
        <h1>Memory Game - Multiplayer</h1>
        <div class="rules">
            <h4>Memory Rules: <br>
                Each player can turn two cards and if they match, they may turn again. Otherwise,
                the next player gets to chose.
            </h4>

        </div>
    </div>
</div>
    <div class="bottom-content">
        <a href="/game">
            Play now!
        </a>
        <div class="line"></div>
        <h4>Web & Database Technology</h4>
    </div>
</body>
</html>