:root {
    --tu-delft: #00a6d6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    /* overflow-x: hidden; */
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 60px 20px; */
    padding-top: 60px;
}
h2{
    text-align: center;
}
.main-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 30px 60px;
}
.main-content .cards{
    width: 100%;
    display: grid;  
    /* grid-template-columns: repeat( 6, minmax(120px, 1fr) ); */
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr)); */
    /* grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr)); */
    /* grid-template-rows: max-content; */
    grid-auto-rows: max-content;
    column-gap: 20px;
    row-gap: 20px;
}
.main-content .card-container{
    width: 100%;
    height: 100%    ;
}
.main-content .card{
    position: relative;
}
.main-content .card .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: var(--tu-delft);
    border-radius: 10px;
    /* display: none; */
}
.main-content .card .flame{
    pointer-events: none;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10001;
    background-color: var(--tu-delft);
    border-radius: 10px;
}

.stats{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: tomato; */
    /* padding: 40px; */
    padding: 40px 0px;
    color: white;
}
.stats-card{
    background-color: var(--tu-delft);
    padding: 10px 30px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}
.stats-card p{
    margin: 0;
}
.stats-card .stats-title{
    font-size: 1em;
}
.stats-card .stats-value{
    /* margin-top: .8em; */
    font-size: 2em;
    font-weight: 700;
}

.hidden{
    visibility: hidden;
    display: none;
}